@import '../base/colores';

/***** ESTILOS ARCHIVO CONTACTO *****/

/* COLOR MAIN */
.contacto {
    background-color: $color_principal;
}

.nombreyapellido {
    padding-bottom: 15px;
}

.area-mensaje {
    padding-top: 15px;
}

.card-form {
    border: none;
}

.h5-form {
    color: $color_texto;
}