/***** ESTILOS ARCHIVO CONTACTO *****/

/* COLOR MAIN */
.contacto {
    background-color: #0077b6;
}

.nombreyapellido {
    padding-bottom: 15px;
}

.area-mensaje {
    padding-top: 15px;
}

.card-form {
    border: none;
}

.h5-form {
    color: aliceblue;
}