@import '../base/colores';

/***** ESTILOS PIE DE PÁGINA *****/


/* FOOTER */
.final {
    padding-top: 20px;
    padding-left: 20px;
    background-color: $color_nav_foot;
    display: flex;
    justify-content: space-between;
}


/* PARRAFO NUESTRAS REDES */
.final-div-p {
    color: $color_texto;
    width: 20%;
}

/* CONTENEDOR DE LINKS */
.final-link-redes {
    padding-bottom: 20px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* ELEMENTOS A REDES */
.final-link-redes {
	a {
		transition: 0.5s;
	}
}

.final-link-redes {
	a {
		&:hover {
			transform: scale(2);
		}
	}
}


/***** TRABAJO @MEDIA NUESTRAS REDES *****/



@media (max-width:572px) {
    .final-link-redes {
        padding-bottom: 20px;
        width: 70%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .final-div-p {
        color: $color_texto;
        width: 30%;
    }
    
}

@media (max-width:537px) {
    .final-link-redes {
        padding-bottom: 20px;
        width: 70%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .final-div-p {
        color: $color_texto;
        width: 40%;
    }
    
}

@media (max-width:360px) {
    .final-link-redes {
        padding-bottom: 20px;
        width: 60%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .final-div-p {
        color: $color_texto;
        width: 40%;
    }
    
}

